@import url('https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    /*font-family: font stack required for body text */
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Courier New',sans-serif;
    background-color: hsl(223, 82%, 90%);
    
}

h1, h2, h3, h4 {
    /*font-family: font stack required for headings */
    font-family: 'Lora', Times, serif;
}

p {
    padding: 0 1rem 0rem 1rem;

}

.container {
    max-width: 1500px;
    width: 100%;
   
}

.subnav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background: hsl(223, 82%, 40%);
   
    
}

.subnav a {
    margin: 1rem 1rem 1rem 1rem;
    font-family: 'Roboto', 'Courier New',sans-serif;
    color:hsl(223, 82%, 90%);
    /* background-size: 30px; */
    
}

.mainnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color:hsl(223, 82%, 40%);
}

.mainnav a {
    font-family: 'Roboto', 'Courier New',sans-serif; 
    margin: 1.5rem 1rem 1.5rem 1rem;
    font-size: 20px;
    color: hsl(223, 82%, 90%);
    text-decoration: none;
}
.mainnav a:hover{
    text-decoration: underline;
  }

.masthead {
    font-size: 16px;
    background-color: hsl(223, 82%, 10%);
    padding-bottom: 10px;
}

.times-logo {
    background-image: url(logo.png);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: auto;
    
}

.masthead h1 {
    margin-top: 0;
    text-align: center;
    color: hsl(223, 82%, 90%);
    text-shadow: 4px 4px hsl(223, 82%, 60%);
    
    
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-columns: 200px;
    padding: 1rem;
    
    
}

.content .story {
    background-color: hsl(223, 82%, 80%);
    border-radius: 25px;
}

.story.lead-story {
    grid-column: span 2;
    background-color: hsl(223, 82%, 70%);
    
}

h2.story-title {
    /* background-color: hsl(0, 14%, 18%); */
    color:hsl(223, 82%, 40%);
    text-align: center; 
    font-weight: bold;
}

.story img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.story p {
    /* padding: 1rem; */
    
}

.story blockquote {
    quotes: "\201E" "\201D";
    /* clear: both; */
    padding-top: 20px;
    font-style: italic;
}

.story blockquote::before {
    content: open-quote;
}

.story blockquote::after {
    content: close-quote;
}

.story p.byline {
    display: flex;
    flex-direction: column; 
    
    
}

p.byline span.author {
    font-size: 20px;
    font-weight: bold;
    
}

p.byline span.pub {
    /* margin-left: 20px; */
    margin-top: 0;
    font-style: italic;
    
    
}

.foot {
    background-color: hsl(223, 82%, 40%);;
    color:hsl(223, 82%, 90%);
    
    }

.foot p
{
    text-align: center;
    font-size: 12px;
    padding: 0.5rem;
}